.git
.env
.env.*
**/.env
**/.env.*
target
**/target
**/node_modules
web/.next*
**/__pycache__
**/*.log
**/*.sqlite
**/*.db
**/*.snapshot
data/*
!data/cache
data/cache/*
!data/cache/mappings
data/cache/mappings/*
!data/cache/mappings/rules.json
